.metadata
zeteswings/.settings
zeteswings/bin
zeteswings/obj
bellardpi/.settings
bellardpi/.project
bellardpi/.classpath
bellardpi/.cproject
bellardpi/bin
bellardpi/obj
gltest/bin
gltest/obj
tinyviewer/bin
tinyviewer/obj
zetesfeet/bin
zetesfeet/.settings
zetesfeet/.project
zetesfeet/.classpath
zetesfeet/.cproject
zetesfeet/obj
zeteshands/bin
zeteshands/.project
zeteshands/.classpath
zeteshands/.cproject
zeteshands/obj
zeteswings/.cproject
zeteswings/.project
zeteswings/.classpath
