<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>An SWT Java app that doesn&apos;t use external JVM</string>
	<key>CFBundleExecutable</key>
	<string>crossbase</string>
	<key>CFBundleIdentifier</key>
	<string>com.bigfatbrowncat.crossbase</string>
	<key>CFBundleName</key>
	<string>SWT Application</string>
	<key>CFBundleIconFile</key>
	<string>crossbase.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013, Ilya Mizus</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Jpeg image</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>crbz</string>
</dict>
</plist>
