<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src/java"/>
	<classpathentry kind="lib" path="/zeteshands/bin/java/zeteshands.jar"/>
	<classpathentry kind="output" path="bin/java"/>
</classpath>
